# {{ ansible_managed }}

[Unit]
Description=Daily apt upgrade and clean activities
After=apt-daily.timer

[Timer]
OnCalendar={{ unattended_upgrades_upgrade_timer_oncalendar }}
RandomizedDelaySec=60m
Persistent=true

[Install]
WantedBy=timers.target