// {{ ansible_managed }}

Unattended-Upgrade::Allowed-Origins {
{% if unattended_upgrades_origins_distro_recommended %}
  "${distro_id}:${distro_codename}-updates";
{% endif %}
{% if unattended_upgrades_origins_distro_proposed %}
  "${distro_id}:${distro_codename}-proposed";
{% endif %}
{% if unattended_upgrades_origins_distro_backports %}
  "${distro_id}:${distro_codename}-backports";
{% endif %}
{% for origin in unattended_upgrades_origins_additional %}
  "{{ origin }}"
{% endfor %}
};

{% if unattended_upgrades_auto_reboot %}
Unattended-Upgrade::Automatic-Reboot "true";
//Unattended-Upgrade::Automatic-Reboot-WithUsers "true";
Unattended-Upgrade::Automatic-Reboot-Time "{{ unattended_upgrades_auto_reboot_time }}";
{% endif %}

{% if unattended_upgrades_handle_conffile_prompt %}
// be aware that these conf file options will affect all of apt (not just unattended upgrades)
Dpkg::Options {
  "--force-confdef"; // apply new changes if conf file is unmodified
  "--force-confold"; // preserve old file if conf has been changed
};
{% endif %}